{% extends 'base.html' %}
{% load static %}
{% block content %}

        
        <!-- Profile Section Start -->
        <div class="card mt-5 shadow-sm border-0">

            <div class="card-body text-center">
                <img src="https://static.tildacdn.com/tild6332-3635-4161-b431-396233376631/Chel.svg" alt="photo" class="rounded-circle mb-4" style="width: 150px; height: 150px; object-fit: cover;">

                <h2 class="text-primary mb-4">Profil ma'lumotlari</h2>
                <ul class="list-unstyled text-start d-inline-block">
                    <li><strong>User ID:</strong> {{user.id}}</li>
<!--                    <li><strong>Firstname:</strong> {{user.first_name}}</li>-->
<!--                    <li><strong>Lastname:</strong> {{user.last_name}}</li>-->
                    <li><strong>Email:</strong> {{user.email}}</li>
                    <li><strong>Username:</strong> {{user.username}}</li>
                    <li><strong>Password:</strong> <span class="text-muted">hidden</span></li>
                </ul>
            </div>
        </div>
        <!-- Profile Section End -->

{% endblock %}